.loginFormInput{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


.loginFormInput:invalid[focused="true"]{
    border: 1px solid red;
}

.loginFormInput:invalid[focused="true"] ~ span{
    display: block;
}